BODY  {
	margin: 0px;
	padding: 0px;
	font-family: verdana;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.content {
	position: relative;
	overflow: hidden;
}


.imageBlock {
	width: 320px;
	height: 400px;
	border: 1px solid #CCccCC;
	margin-top: 15px;
	margin-left: 15px;
	float:left;
}

.descrBlock {
	position: relative;
	margin-top: 15px;
	margin-left: 360px;
	margin-right: 125px;
	text-overflow: ellipsis;
    overflow: hidden;
}


.price {
	 border-radius: 5px;
	background-color: #DDddDD;
	line-height: 68px;
	padding-left: 20px;
}

.priceRed {
	color: red; 
	font-weight: bold;
	font-size: 18px;
}


.descrBlock2{
	float: left;
	margin-top: 20px;
	margin-left: 15px;
}

.column1, .column2 {
	font-size: 14px;
	width: 480px;
	padding-left: 20px;
	float: left;
}

.column1 UL, 
.column2 UL {
		list-style-type: none;
	margin: 0;
    padding: 0;
}

.colorTable{
		
}


.parameters, .descr {
	width: 45%;
	min-width: 320px;
	float:left;
	padding-left: 20px;
	font-size: 14px;
}

.parameters UL{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.parameters UL LI{
	padding-bottom: 10px;
}


@media (max-width: 1280px) {
	.descrBlock {
		margin-right: 25px;
	}
}

@media (min-width: 1200px){
	.parameters {
		width: 35%;
	}
	
	.descr {
		
	}
}

@media (min-width: 320px) and (max-width: 1085px){
	.column1,.column2 {
		width: 45%;
	}
	
	.descrBlock2 {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.descrBlock{
		float: left;
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.imageBlock {
			float: none;
			margin: auto;
			margin-top: 15px;
	}
}

@media (max-width: 720px) {
	.descr, .parameters{
		width: 100%;
	}
}

@media (max-width: 765px) {
	.descrBlock{
		float: left;
		margin-left: 15px;
	}
	
	.column1,.column2 {
		width: 100%;
	}
	
}

.smallImgBlock {
	position: relative;
	top: 30px;
	width: 250px;
	margin: auto;
}

.notebookImg_Large{
	position: relative;
	margin: auto;
	top: 20px;
	width: 280px;
	height: 200px;
	background: url('/img/macbook12.jpg');
	background-size: cover; 
}

.notebookImg_Small {
	position: relative;
	width: 120px;
	height: 120px;
	display: inline-block;
	border: 1px solid #CCccCC;
}



#leftImg {
	background: url('/img/macbook12_2.jpg') no-repeat;
	background-size: 100%; 
	background-position: center; 
}

#rightImg {
	background: url('/img/macbook12_3.jpg') no-repeat;
	background-size: 75%; 
	background-position: center; 
}

.header{
	width: 100%;
	height: 200px;
}


.firstLine {
	position: absolute;
	height: 100px;
	min-width: 360px;
	left: 165px;
}

.firstLine UL{
	/*
	height: 100px;
	list-style-type: none;
	margin: 0;
    padding: 0;
	 overflow: hidden; */
}

.firstLine UL li a {
	/*
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
	*/
}

/* Change the link color on hover */
.firstLine UL {
}

.squareBlue {
	position: absolute;
	left: 15px;
	width: 140px;
	height: 200px;
	background-color: #0168b3;
}

.titleBlock {
	position: absolute;
	width: 250px;
	hight: 60px;
	top: 20px;
	left: 180px;
}

.phoneBlock {
	position: absolute;
	right: 25px;
	top: 15px;
	height: 60px;
}

@media (max-width: 775px) {
	.phoneBlock {
		display: none;
	}
	
	.firstLine UL li a {
		 padding-right: 10px;
		 padding-left: 10px;
	}
}

@media (max-width: 380px) {
	.squareBlue {
		display: none;
	}
	
	.titleBlock{
		left: 20px;
	}
	
	.firstLine {
		left: 10px;
	}
}

.companyName {
	line-height: 44px;
	font-size: 36px;
	font-family: impact;
}

.phoneIcon {
	position: relative;
	background: url('/img/phone_icon.png');
	background-size: cover; 
	width: 60px;
	height: 60px;
	right: 10px;
	top: 4px;
	display: inline-block;
}

.phoneNumDes{
	display: inline-block;
}

.phoneNumber{
	font-size: 34px;
	font-family: arial;
	font-weight: bold;
	line-height: 44px;
}

.companyDescr {
	font-size: 12px;
	font-family: verdana;
	padding-left: 0px;
	line-height: 22px;
}

.phoneDescr{
	font-size: 12px;
	font-family: verdana;
	padding-left: 0px;
	line-height: 22px;
}

.noteMan {
	position: relative;
	width: 110px;
	height: 110px;
	left: 15px;
	top: 63px;
	opacity: 0.9;
	background: url('/img/noteMan.png');
	background-size: cover; 
}

.whiteStripe, .menuStripe{
	width: 100%;
	height: 100px;
}

.menuStripe {
	background-color: #ea7c00;
}