#navbar2{
	height: 100px;
	list-style-type: none;
	margin: 0;
    padding: 0;
}

#navbar2 ul{
    display: none;
	z-index: 100;
	position: absolute;
	background-color: #f90;
	min-width: 120px;
	
	list-style-type: none;
	padding:0;
	margin:0;
}

#navbar2  li a:hover {
    background-color: #555;
    color: white;
}

#navbar2 LI{
	float: left;
	position: relative;
}

#navbar2 LI UL LI{
	min-width: 180px;
}

#navbar2 LI A{
	display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
	width: 170px;
    text-align: center;
}

#navbar2 li:hover ul { 
	display: block;
}

#dropdown2 UL{
	display: none;
	z-index: 100;
	position: absolute;
	left: 180px;
	bottom: -100px;
	background-color: #f90;
	min-width: 120px;
	
	list-style-type: none;
	padding:0;
	margin:0;
}

#dropdown2 LI:hover UL {
	display: block;
}


